<div class="error-center">
    {{#if errors.length}}
    <p>Could not login because:</p>
    <ul class="error-list">
        {{#each errors}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    {{/if}}
</div>

<div class="login-div">
    <form class="login-form" action="/accounts/sign-in" method="post">
        <label for=""></label>
        <input type="hidden" name="_csrf" value={{csrfToken}}>
        <div class="field">
            <div class="fas fa-envelope"></div>
            <input type="text" placeholder="Username" name="username" required>
        </div>
        <div class="field">
            <div class="fas fa-lock"></div>
            <input type="password" placeholder="Password" name="password" required>
        </div>
        <a href="/accounts/sign-up" class="sign-up">Sign up</a>
        <input type="submit" class="signUp_button" role="button" value="Sign In">
    </form>
</div>