<h1>Azmodan</h1>

<div class="heroes_builds">
    <div class="heroes_build">
        <div class="heroes_build_header">
            <h3 class="toc_no_parsing">Greed Build</h3>
            <span class="heroes_build_tag heroes_build_tag_recommended">
                <span>Recommended</span>
                <span class="heroes_build_tag_image"></span>
            </span>
        </div>
        <div class="heroes_build_talents">
            <div class="heroes_build_talent_tier">
                <span class="heroes_build_talent_tier_subtitle">Level 1</span>
                <span class="heroes_build_talent_tier_visual">
                    <span class="heroes_build_talent_tier_yes"></span>
                    <span class="heroes_build_talent_tier_no"></span>
                    <span class="heroes_build_talent_tier_no"></span>
                </span>
                <img src="/images/talents-copy/azmodan/storm_ui_icon_azmodan_globeofannihilation.png" alt="globe">
            </div>
            <div class="heroes_build_talent_tier">
                <span class="heroes_build_talent_tier_subtitle">Level 4</span>
                <span class="heroes_build_talent_tier_visual">
                    <span class="heroes_build_talent_tier_yes"></span>
                    <span class="heroes_build_talent_tier_situational"></span>
                    <span class="heroes_build_talent_tier_no"></span>
                </span>
                <img src="/images/talents-copy/azmodan/storm_ui_icon_azmodan_summondemonwarrior.png" alt="extra warrior">
                <a class="heroes_build_talent_tier_situational" href="/">
                    <img src="/images/talents-copy/azmodan/storm_ui_icon_azmodan_summondemonwarrior_a.png"
                        alt="better warrior">
                </a>
            </div>
            <div class="heroes_build_talent_tier">
                <span class="heroes_build_talent_tier_subtitle">Level 7</span>
                <span class="heroes_build_talent_tier_visual">
                    <span class="heroes_build_talent_tier_no"></span>
                    <span class="heroes_build_talent_tier_no"></span>
                    <span class="heroes_build_talent_tier_yes"></span>
                </span>
                <img src="/images/talents-copy/azmodan/storm_ui_icon_azmodan_allshallburn.png" alt="all shall burn">
            </div>
            <div class="heroes_build_talent_tier">
                <span class="heroes_build_talent_tier_subtitle">Level 10</span>
                <span class="heroes_build_talent_tier_visual">
                    <span class="heroes_build_talent_tier_yes"></span>
                    <span class="heroes_build_talent_tier_no"></span>
                </span>
                <img src="/images/talents-copy/azmodan/storm_ui_icon_azmodan_demonicinvasion.png" alt="demonic invasion">
            </div>
            <div class="heroes_build_talent_tier">
                <span class="heroes_build_talent_tier_subtitle">Level 13</span>
                <span class="heroes_build_talent_tier_visual">
                    <span class="heroes_build_talent_tier_situational"></span>
                    <span class="heroes_build_talent_tier_yes"></span>
                    <span class="heroes_build_talent_tier_no"></span>
                </span>
                <img src="/images/talents-copy/azmodan/storm_ui_icon_azmodan_summondemonwarrior.png"
                    alt="Summon demon warrior">
                <a class="heroes_build_talent_tier_situational" href="/">
                    <img src="/images/talents-copy/azmodan/storm_ui_icon_azmodan_allshallburn.png" alt="all shall burn">
                </a>
            </div>
            <div class="heroes_build_talent_tier">
                <span class="heroes_build_talent_tier_subtitle">Level 16</span>
                <span class="heroes_build_talent_tier_visual">
                    <span class="heroes_build_talent_tier_no"></span>
                    <span class="heroes_build_talent_tier_yes"></span>
                    <span class="heroes_build_talent_tier_no"></span>
                </span>
                <img src="/images/talents-copy/azmodan/storm_ui_icon_azmodan_allshallburn.png" alt="burrow charge">
            </div>
            <div class="heroes_build_talent_tier">
                <span class="heroes_build_talent_tier_subtitle">Level 20</span>
                <span class="heroes_build_talent_tier_visual">
                    <span class="heroes_build_talent_tier_situational"></span>
                    <span class="heroes_build_talent_tier_no"></span>
                    <span class="heroes_build_talent_tier_no"></span>
                    <span class="heroes_build_talent_tier_yes"></span>
                </span>
                <img src="/images/talents-copy/azmodan/storm_ui_icon_azmodan_allshallburn.png" alt="all shall burn">
                <a class="heroes_build_talent_tier_situational" href="/">
                    <img src="/images/talents-copy/azmodan/storm_ui_icon_azmodan_demonicinvasion.png" alt="demonic invasion">
                </a>
            </div>
        </div>
    </div>
</div>



<div class="heroes_build">
    <div class="heroes_build_header">
        <h3 class="toc_no_parsing">ARAM Build</h3>
        <span class="heroes_build_tag heroes_build_tag_situational">
            <span>Situational</span>
            <span class="heroes_build_tag_image"></span>
        </span>
    </div>
    <div class="heroes_build_talents">
        <div class="heroes_build_talent_tier">
            <span class="heroes_build_talent_tier_subtitle">Level 1</span>
            <span class="heroes_build_talent_tier_visual">
                <span class="heroes_build_talent_tier_no"></span>
                <span class="heroes_build_talent_tier_yes"></span>
                <span class="heroes_build_talent_tier_no"></span>
            </span>
            <img src="/images/talents-copy/azmodan/storm_ui_icon_azmodan_globeofannihilation_a.png" alt="globe">
        </div>
        <div class="heroes_build_talent_tier">
            <span class="heroes_build_talent_tier_subtitle">Level 4</span>
            <span class="heroes_build_talent_tier_visual">
                <span class="heroes_build_talent_tier_yes"></span>
                <span class="heroes_build_talent_tier_situational"></span>
                <span class="heroes_build_talent_tier_no"></span>
            </span>
            <img src="/images/talents-copy/azmodan/storm_ui_icon_azmodan_summondemonwarrior.png" alt="extra warrior">
            <a class="heroes_build_talent_tier_situational" href="/">
                <img src="/images/talents-copy/azmodan/storm_ui_icon_azmodan_summondemonwarrior_a.png" alt="better warrior">
            </a>
        </div>
        <div class="heroes_build_talent_tier">
            <span class="heroes_build_talent_tier_subtitle">Level 7</span>
            <span class="heroes_build_talent_tier_visual">
                <span class="heroes_build_talent_tier_no"></span>
                <span class="heroes_build_talent_tier_no"></span>
                <span class="heroes_build_talent_tier_yes"></span>
            </span>
            <img src="/images/talents-copy/azmodan/storm_ui_icon_azmodan_globeofannihilation.png" alt="all shall burn">
        </div>
        <div class="heroes_build_talent_tier">
            <span class="heroes_build_talent_tier_subtitle">Level 10</span>
            <span class="heroes_build_talent_tier_visual">
                <span class="heroes_build_talent_tier_no"></span>
                <span class="heroes_build_talent_tier_yes"></span>
            </span>
            <img src="/images/talents-copy/azmodan/storm_ui_icon_azmodan_blackpool.png" alt="demonic invasion">
        </div>
        <div class="heroes_build_talent_tier">
            <span class="heroes_build_talent_tier_subtitle">Level 13</span>
            <span class="heroes_build_talent_tier_visual">
                <span class="heroes_build_talent_tier_yes"></span>
                <span class="heroes_build_talent_tier_no"></span>
                <span class="heroes_build_talent_tier_no"></span>
            </span>
            <img src="/images/talents-copy/azmodan/storm_ui_icon_azmodan_summondemonwarrior.png" alt="Summon demon warrior">
        </div>
        <div class="heroes_build_talent_tier">
            <span class="heroes_build_talent_tier_subtitle">Level 16</span>
            <span class="heroes_build_talent_tier_visual">
                <span class="heroes_build_talent_tier_yes"></span>
                <span class="heroes_build_talent_tier_no"></span>
                <span class="heroes_build_talent_tier_no"></span>
            </span>
            <img src="/images/talents-copy/azmodan/storm_ui_icon_azmodan_globeofannihilation.png" alt="burrow charge">
        </div>
        <div class="heroes_build_talent_tier">
            <span class="heroes_build_talent_tier_subtitle">Level 20</span>
            <span class="heroes_build_talent_tier_visual">
                <span class="heroes_build_talent_tier_no"></span>
                <span class="heroes_build_talent_tier_no"></span>
                <span class="heroes_build_talent_tier_yes"></span>
                <span class="heroes_build_talent_tier_no"></span>
            </span>
            <img src="/images/talents-copy/azmodan/storm_ui_icon_azmodan_globeofannihilation.png" alt="all shall burn">
        </div>
    </div>
</div>
</div>