<div class="global">
    <h1> Bruisers </h1>
    
    <div class="nav_content_entries">
        <div class="nav_content_block_heroes">
            <a href="/bruisers">
                <img src="/images/Bruisers/artanis.png" alt="artanis" id="logga">
                <span>Artanis</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/bruisers">
                <img src="/images/Bruisers/chen.png" alt="chen" id="logga">
                <span>Chen</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/bruisers">
                <img src="/images/Bruisers/deathwing.png" alt="deathwing" id="logga">
                <span>Deathwing</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/bruisers">
                <img src="/images/Bruisers/dehaka.png" alt="dehaka" id="logga">
                <span>Dehaka</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/bruisers">
                <img src="/images/Bruisers/dva.png" alt="dva" id="logga">
                <span>D'va</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/bruisers">
                <img src="/images/Bruisers/gazlowe.png" alt="gazlowe" id="logga">
                <span>Gazlowe</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/bruisers">
                <img src="/images/Bruisers/hogger.png" alt="hogger" id="logga">
                <span>Hogger</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/bruisers">
                <img src="/images/Bruisers/leoric.png" alt="leoric" id="logga">
                <span>Leoric</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/bruisers">
                <img src="/images/Bruisers/malthael.png" alt="malthael" id="logga">
                <span>Malthael</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/bruisers">
                <img src="/images/Bruisers/ragnaros.png" alt="ragnaros" id="logga">
                <span>Ragnaros</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/bruisers">
                <img src="/images/Bruisers/rexxar.png" alt="rexxar" id="logga">
                <span>Rexxar</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/bruisers">
                <img src="/images/Bruisers/sonya.png" alt="sonya" id="logga">
                <span>Sonya</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/bruisers">
                <img src="/images/Bruisers/thrall.png" alt="thrall" id="logga">
                <span>Thrall</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/bruisers">
                <img src="/images/Bruisers/varian.png" alt="varian" id="logga">
                <span>Varian</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/bruisers">
                <img src="/images/Bruisers/xul.png" alt="xul" id="logga">
                <span>Xul</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/bruisers">
                <img src="/images/Bruisers/yrel.png" alt="yrel" id="logga">
                <span>Yrel</span>
            </a>
        </div>

    </div>


</div>