<h1>Chromie</h1>

<div class="heroes_builds">
    <div class="heroes_build">


        <div class="heroes_build_header">
            <h3 class="toc_no_parsing">Sand Blast Build</h3>
            <span class="heroes_build_tag heroes_build_tag_recommended">
                <span>Recommended</span>
                <span class="heroes_build_tag_image"></span>
            </span>
        </div>
        <div class="heroes_build_talents">
            <div class="heroes_build_talent_tier">
                <span class="heroes_build_talent_tier_subtitle">Level 1</span>
                <span class="heroes_build_talent_tier_visual">
                    <span class="heroes_build_talent_tier_yes"></span>
                    <span class="heroes_build_talent_tier_no"></span>
                    <span class="heroes_build_talent_tier_no"></span>
                </span>
                <img src="/images/talents-copy/chromie/storm_ui_icon_chromie_aethercannon.png" alt="Sand blas quest">
            </div>
            <div class="heroes_build_talent_tier">
                <span class="heroes_build_talent_tier_subtitle">Level 2</span>
                <span class="heroes_build_talent_tier_visual">
                    <span class="heroes_build_talent_tier_situational"></span>
                    <span class="heroes_build_talent_tier_yes"></span>
                    <span class="heroes_build_talent_tier_situational"></span>
                </span>
                <img src="/images/talents-copy/chromie/storm_ui_icon_chromie_timetrap_a.png" alt="armor timetrap">
                <a class="heroes_build_talent_tier_situational" href="/">
                    <img src="/images/talents-copy/chromie/storm_ui_icon_chromie_timetrap_b.png" alt="multiple traps">
                </a>
                <a class="heroes_build_talent_tier_situational" href="/">
                    <img src="/images/talents-copy/chromie/storm_ui_icon_chromie_timetrap.png" alt="movement speed trap">
                </a>
            </div>
            <div class="heroes_build_talent_tier">
                <span class="heroes_build_talent_tier_subtitle">Level 5</span>
                <span class="heroes_build_talent_tier_visual">
                    <span class="heroes_build_talent_tier_no"></span>
                    <span class="heroes_build_talent_tier_no"></span>
                    <span class="heroes_build_talent_tier_yes"></span>
                </span>
                <img src="/images/talents-copy/storm_ui_icon_talent_abilitytalent_damage.png" alt="ability damage">
            </div>
            <div class="heroes_build_talent_tier">
                <span class="heroes_build_talent_tier_subtitle">Level 8</span>
                <span class="heroes_build_talent_tier_visual">
                    <span class="heroes_build_talent_tier_yes"></span>
                    <span class="heroes_build_talent_tier_situational"></span>
                </span>
                <img src="/images/talents-copy/chromie/storm_ui_icon_chromie_timewarp.png" alt="slowing sand">
                <a class="heroes_build_talent_tier_situational" href="/">
                    <img src="/images/talents-copy/chromie/storm_ui_icon_chromie_looper.png" alt="time loop">
                </a>
            </div>
            <div class="heroes_build_talent_tier">
                <span class="heroes_build_talent_tier_subtitle">Level 11</span>
                <span class="heroes_build_talent_tier_visual">
                    <span class="heroes_build_talent_tier_situational"></span>
                    <span class="heroes_build_talent_tier_no"></span>
                    <span class="heroes_build_talent_tier_yes"></span>
                </span>
                <img src="/images/talents-copy/chromie/storm_ui_icon_chromie_timeblock.png" alt="timeblock">
                <a class="heroes_build_talent_tier_situational" href="/">
                    <img src="/images/talents-copy/chromie/storm_ui_icon_chromie_aethercannon.png" alt="sand blast">
                </a>
            </div>
            <div class="heroes_build_talent_tier">
                <span class="heroes_build_talent_tier_subtitle">Level 14</span>
                <span class="heroes_build_talent_tier_visual">
                    <span class="heroes_build_talent_tier_yes"></span>
                    <span class="heroes_build_talent_tier_no"></span>
                    <span class="heroes_build_talent_tier_no"></span>
                </span>
                <img src="/images/talents-copy/chromie/storm_ui_icon_chromie_aethercannon.png" alt="sand blast">

            </div>
            <div class="heroes_build_talent_tier">
                <span class="heroes_build_talent_tier_subtitle">Level 18</span>
                <span class="heroes_build_talent_tier_visual">
                    <span class="heroes_build_talent_tier_no"></span>
                    <span class="heroes_build_talent_tier_no"></span>
                    <span class="heroes_build_talent_tier_yes"></span>
                    <span class="heroes_build_talent_tier_no"></span>
                </span>
                <img src="/images/talents-copy/chromie/storm_ui_icon_chromie_aethercannon.png" alt="sand blast">
            </div>
        </div>
    </div>



    <div class="heroes_build_header">
        <h3 class="toc_no_parsing">ARAM Build</h3>
        <span class="heroes_build_tag heroes_build_tag_situational">
            <span>Situational</span>
            <span class="heroes_build_tag_image"></span>
        </span>
    </div>
    <div class="heroes_build_talents">
        <div class="heroes_build_talent_tier">
            <span class="heroes_build_talent_tier_subtitle">Level 1</span>
            <span class="heroes_build_talent_tier_visual">
                <span class="heroes_build_talent_tier_no"></span>
                <span class="heroes_build_talent_tier_yes"></span>
                <span class="heroes_build_talent_tier_no"></span>
            </span>
            <img src="/images/talents-copy/chromie/storm_ui_icon_chromie_sandstrike.png" alt="sand strike quest">
        </div>
        <div class="heroes_build_talent_tier">
            <span class="heroes_build_talent_tier_subtitle">Level 2</span>
            <span class="heroes_build_talent_tier_visual">
                <span class="heroes_build_talent_tier_situational"></span>
                <span class="heroes_build_talent_tier_yes"></span>
                <span class="heroes_build_talent_tier_situational"></span>
            </span>
            <img src="/images/talents-copy/chromie/storm_ui_icon_chromie_timetrap_a.png" alt="armor timetrap">
            <a class="heroes_build_talent_tier_situational" href="/">
                <img src="/images/talents-copy/chromie/storm_ui_icon_chromie_timetrap_b.png" alt="multiple traps">
            </a>
            <a class="heroes_build_talent_tier_situational" href="/">
                <img src="/images/talents-copy/chromie/storm_ui_icon_chromie_timetrap.png" alt="movement speed trap">
            </a>
        </div>
        <div class="heroes_build_talent_tier">
            <span class="heroes_build_talent_tier_subtitle">Level 5</span>
            <span class="heroes_build_talent_tier_visual">
                <span class="heroes_build_talent_tier_no"></span>
                <span class="heroes_build_talent_tier_no"></span>
                <span class="heroes_build_talent_tier_yes"></span>
            </span>
            <img src="/images/talents-copy/chromie/storm_ui_icon_chromie_sandstrike.png" alt="sand strike">
        </div>
        <div class="heroes_build_talent_tier">
            <span class="heroes_build_talent_tier_subtitle">Level 8</span>
            <span class="heroes_build_talent_tier_visual">
                <span class="heroes_build_talent_tier_yes"></span>
                <span class="heroes_build_talent_tier_situational"></span>
            </span>
            <img src="/images/talents-copy/chromie/storm_ui_icon_chromie_timewarp.png" alt="slowing sand">
            <a class="heroes_build_talent_tier_situational" href="/">
                <img src="/images/talents-copy/chromie/storm_ui_icon_chromie_looper.png" alt="time loop">
            </a>
        </div>
        <div class="heroes_build_talent_tier">
            <span class="heroes_build_talent_tier_subtitle">Level 11</span>
            <span class="heroes_build_talent_tier_visual">
                <span class="heroes_build_talent_tier_situational"></span>
                <span class="heroes_build_talent_tier_no"></span>
                <span class="heroes_build_talent_tier_yes"></span>
            </span>
            <img src="/images/talents-copy/chromie/storm_ui_icon_chromie_timeblock.png" alt="timeblock">
            <a class="heroes_build_talent_tier_situational" href="/">
                <img src="/images/talents-copy/chromie/storm_ui_icon_chromie_aethercannon.png" alt="sand blast">
            </a>
        </div>
        <div class="heroes_build_talent_tier">
            <span class="heroes_build_talent_tier_subtitle">Level 14</span>
            <span class="heroes_build_talent_tier_visual">
                <span class="heroes_build_talent_tier_situational"></span>
                <span class="heroes_build_talent_tier_no"></span>
                <span class="heroes_build_talent_tier_yes"></span>
            </span>
            <img src="/images/talents-copy/chromie/storm_ui_icon_chromie_hyperdrivesreach.png" alt="hyper drive">
            <a class="heroes_build_talent_tier_situational" href="/">
                <img src="/images/talents-copy/chromie/storm_ui_icon_chromie_aethercannon.png" alt="sand blast">
            </a>

        </div>
        <div class="heroes_build_talent_tier">
            <span class="heroes_build_talent_tier_subtitle">Level 18</span>
            <span class="heroes_build_talent_tier_visual">
                <span class="heroes_build_talent_tier_no"></span>
                <span class="heroes_build_talent_tier_no"></span>
                <span class="heroes_build_talent_tier_yes"></span>
                <span class="heroes_build_talent_tier_no"></span>
            </span>
            <img src="/images/talents-copy/chromie/storm_ui_icon_chromie_aethercannon.png" alt="sand blast">
        </div>
    </div>
</div>

</div>