<div class="global">
    <h1> Healers </h1>

    <div class="nav_content_entries">
        <div class="nav_content_block_heroes">
            <a href="/healers">
                <img src="/images/Healers/alexstrasza.png" alt="alexstrasza" id="logga">
                <span>Alexstrasza</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/healers">
                <img src="/images/Healers/ana.png" alt="ana" id="logga">
                <span>Ana</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/healers">
                <img src="/images/Healers/anduin.png" alt="anduin" id="logga">
                <span>Anduin</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/healers">
                <img src="/images/Healers/auriel.png" alt="auriel" id="logga">
                <span>Auriel</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/healers">
                <img src="/images/Healers/brightwing.png" alt="brightwing" id="logga">
                <span>Brightwing</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/healers">
                <img src="/images/Healers/deckard.png" alt="deckard" id="logga">
                <span>Deckard</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/healers">
                <img src="/images/Healers/kharazim.png" alt="kharazim" id="logga">
                <span>Kharazim</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/healers">
                <img src="/images/Healers/lili.png" alt="lili" id="logga">
                <span>Li li</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/healers">
                <img src="/images/Healers/ltmorales.png" alt="ltmorales" id="logga">
                <span>Lt. Morales</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/healers">
                <img src="/images/Healers/lucio.png" alt="lucio" id="logga">
                <span>Lucio</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/healers">
                <img src="/images/Healers/malfurion.png" alt="malfurion" id="logga">
                <span>Malfurion</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/healers">
                <img src="/images/Healers/rehgar.png" alt="rehgar" id="logga">
                <span>Rehgar</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/healers">
                <img src="/images/Healers/stukov.png" alt="stukov" id="logga">
                <span>Stukov</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/healers">
                <img src="/images/Healers/tyrande.png" alt="tyrande" id="logga">
                <span>Tyrande</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/healers">
                <img src="/images/Healers/uther.png" alt="uther" id="logga">
                <span>Uther</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/healers">
                <img src="/images/Healers/whitemane.png" alt="whitemane" id="logga">
                <span>Whitemane</span>
            </a>
        </div>

    </div>


</div>