<div class="global">
    <h1>Melee Assassins</h1>

    <div class="nav_content_entries">
        <div class="nav_content_block_heroes">
            <a href="/meleeAssassins">
                <img src="/images/Melees/alarak.png" alt="alarak" id="logga">
                <span>Alarak</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/meleeAssassins">
                <img src="/images/Melees/illidan.png" alt="illidan" id="logga">
                <span>Illidan</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/meleeAssassins">
                <img src="/images/Melees/kerrigan.png" alt="kerrigan" id="logga">
                <span>Kerrigan</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/meleeAssassins">
                <img src="/images/Melees/maiev.png" alt=" maiev" id="logga">
                <span>Maiev</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/meleeAssassins">
                <img src="/images/Melees/murky.png" alt="murky" id="logga">
                <span>Murky</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/meleeAssassins">
                <img src="/images/Melees/qhira.png" alt="qhira" id="logga">
                <span>Qhira</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/meleeAssassins">
                <img src="/images/Melees/samuro.png" alt="samuro" id="logga">
                <span>Samuro</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/meleeAssassins">
                <img src="/images/Melees/thebutcher.png" alt="thebutcher" id="logga">
                <span>The Butcher</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/meleeAssassins">
                <img src="/images/Melees/valeera.png" alt="valeera" id="logga">
                <span>Valeera</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/meleeAssassins">
                <img src="/images/Melees/zeratul.png" alt="zeratul" id="logga">
                <span>Zeratul</span>
            </a>
        </div>

    </div>
</div>