<div class="global">

    <h1>Ranged Assassins</h1>

    <div class="nav_content_entries">
        <div class="nav_content_block_heroes">
            <a href="/rangedAssassins/azmodan">
                <img src="/images/Ranged/azmodan.png" alt="azmodan" id="logga">
                <span>Azmodan</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/rangedAssassins/cassia">
                <img src="/images/Ranged/cassia.png" alt="cassia" id="logga">
                <span>Cassia</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/rangedAssassins/chromie">
                <img src="/images/Ranged/chromie.png" alt="chromie" id="logga">
                <span>Chromie</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/rangedAssassins/falstad">
                <img src="/images/Ranged/falstad.png" alt="falstad" id="logga">
                <span>Falstad</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/rangedAssassins/fenix">
                <img src="/images/Ranged/fenix.png" alt="fenix" id="logga">
                <span>Fenix</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/rangedAssassins/gall">
                <img src="/images/Ranged/gall.png" alt="gall" id="logga">
                <span>Gall</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/rangedAssassins/genji">
                <img src="/images/Ranged/genji.png" alt="genji" id="logga">
                <span>Genji</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/rangedAssassins/greymane">
                <img src="/images/Ranged/greymane.png" alt="greymane" id="logga">
                <span>Greymane</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/rangedAssassins/guldan">
                <img src="/images/Ranged/guldan.png" alt="guldan" id="logga">
                <span>Guldan</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/rangedAssassins/hanzo">
                <img src="/images/Ranged/hanzo.png" alt="hanzo" id="logga">
                <span>Hanzo</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/rangedAssassins/jaina">
                <img src="/images/Ranged/jaina.png" alt="jaina" id="logga">
                <span>Jaina</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/rangedAssassins/junkrat">
                <img src="/images/Ranged/junkrat.png" alt="junkrat" id="logga">
                <span>Junkrat</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/rangedAssassins/kaelthas">
                <img src="/images/Ranged/kaelthas.png" alt="kaelthas" id="logga">
                <span>Kael'thas</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/rangedAssassins/kelthuzad">
                <img src="/images/Ranged/kelthuzad.png" alt="kelthuzad" id="logga">
                <span>Kel'thuzad</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/rangedAssassins/liming">
                <img src="/images/Ranged/liming.png" alt="liming" id="logga">
                <span>Li-ming</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/rangedAssassins/lunara">
                <img src="/images/Ranged/lunara.png" alt="lunara" id="logga">
                <span>Lunara</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/rangedAssassins/mephisto">
                <img src="/images/Ranged/mephisto.png" alt="mephisto" id="logga">
                <span>Mephisto</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/rangedAssassins/nazeebo">
                <img src="/images/Ranged/nazeebo.png" alt="nazeebo" id="logga">
                <span>Nazeebo</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/rangedAssassins/nova">
                <img src="/images/Ranged/nova.png" alt="nova" id="logga">
                <span>Nova</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/rangedAssassins/orphea">
                <img src="/images/Ranged/orphea.png" alt="orphea" id="logga">
                <span>Orphea</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/rangedAssassins/probius">
                <img src="/images/Ranged/probius.png" alt="probius" id="logga">
                <span>Probius</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/rangedAssassins/raynor">
                <img src="/images/Ranged/raynor.png" alt="raynor" id="logga">
                <span>Raynor</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/rangedAssassins/sgthammer">
                <img src="/images/Ranged/sgthammer.png" alt="sgthammer" id="logga">
                <span>Sgt. Hammer</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/rangedAssassins/sylvanas">
                <img src="/images/Ranged/sylvanas.png" alt="sylvanas" id="logga">
                <span>Sylvanas</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/rangedAssassins/tassadar">
                <img src="/images/Ranged/tassadar.png" alt="tassadar" id="logga">
                <span>Tassadar</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/rangedAssassins/tracer">
                <img src="/images/Ranged/tracer.png" alt="tracer" id="logga">
                <span>Tracer</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/rangedAssassins/tychus">
                <img src="/images/Ranged/tychus.png" alt="tychus" id="logga">
                <span>Tychus</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/rangedAssassins/valla">
                <img src="/images/Ranged/valla.png" alt="valla" id="logga">
                <span>Valla</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/rangedAssassins/zagara">
                <img src="/images/Ranged/zagara.png" alt="zagara" id="logga">
                <span>Zagara</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/rangedAssassins/zuljin">
                <img src="/images/Ranged/zuljin.png" alt="zuljin" id="logga">
                <span>Zul'jin</span>
            </a>
        </div>
    </div>
</div>