<div class="global">
    <h1>Supports</h1>


    <div class="nav_content_entries">
        <div class="nav_content_block_heroes">
            <a href="/supports">
                <img src="/images/Supports/abathur.png" alt="abathur" id="logga">
                <span>Abathur</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/supports">
                <img src="/images/Supports/lostvikings.png" alt="lostvikings" id="logga">
                <span>Lost vikings</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/supports">
                <img src="/images/Supports/medivh.png" alt="medivh" id="logga">
                <span>Medivh</span>
            </a>
        </div>
        <div class="nav_content_block_heroes">
            <a href="/supports">
                <img src="/images/Supports/zarya.png" alt=" zarya" id="logga">
                <span>Zarya</span>
            </a>
        </div>

    </div>
</div>