<div class="global">
    <h1> Tanks </h1>
    <div class = "nav_content_entries">
        <div class = "nav_content_block_heroes">
            <a href="/tanks">
                <img src="/images/Tanks/anubarak.png" alt="Garrosh" id="logga">
                <span>Anub'arak</span>
            </a>
        </div>
        <div class = "nav_content_block_heroes">
            <a href="/tanks">
                <img src="/images/Tanks/arthas.png" alt="Arthas" id="logga">
                <span>Arthas</span>
            </a>
        </div>
        <div class = "nav_content_block_heroes">
            <a href="/tanks">
                <img src="/images/Tanks/blaze.png" alt="Blaze" id="logga">
                <span>Blaze</span>
            </a>
        </div>
        <div class = "nav_content_block_heroes">
            <a href="/tanks">
                <img src="/images/Tanks/cho.png" alt="Cho" id="logga">
                <span>Cho</span>
            </a>
        </div>
        <div class = "nav_content_block_heroes">
            <a href="/tanks">
                <img src="/images/Tanks/etc.png" alt="ETC" id="logga">
                <span>ETC</span>
            </a>
        </div>
        <div class = "nav_content_block_heroes">
            <a href="/tanks">
                <img src="/images/Tanks/garrosh.png" alt="Garrosh" id="logga">
                <span>Garrosh</span>
            </a>
        </div>
        <div class = "nav_content_block_heroes">
            <a href="/tanks">
                <img src="/images/Tanks/johanna.png" alt="Johanna" id="logga">
                <span>Johanna</span>
            </a>
        </div>
        <div class = "nav_content_block_heroes">
            <a href="/tanks">
                <img src="/images/Tanks/malganis.png" alt="Malganis" id="logga">
                <span>Malganis</span>
            </a>
        </div>
        <div class = "nav_content_block_heroes">
            <a href="/tanks">
                <img src="/images/Tanks/mei.png" alt="Mei" id="logga">
                <span>Mei</span>
            </a>
        </div>
        <div class = "nav_content_block_heroes">
            <a href="/tanks">
                <img src="/images/Tanks/muradin.png" alt="Muradin" id="logga">
                <span>Muradin</span>
            </a>
        </div>
        <div class = "nav_content_block_heroes">
            <a href="/tanks">
                <img src="/images/Tanks/stitches.png" alt="Stitches" id="logga">
                <span>Stitches</span>
            </a>
        </div>
        <div class = "nav_content_block_heroes">
            <a href="/tanks">
                <img src="/images/Tanks/tyrael.png" alt="Tyrael" id="logga">
                <span>Tyrael</span>
            </a>
        </div>
    </div>
</div>